/*FORMULARIOS*/

form {
    margin:20px 10px;
}

label {
    display: block;
    font-weight: bold;
}

textarea {
    display: block;
    width: 100%;
    padding: 10px;
    border: 2px solid rgb(134, 201, 201);
    border-radius: 5px;
    font-size: 20px;

}

.btnForm {
    background-color: #333;
    color: aliceblue;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}